@charset "UTF-8";

/* Variáveis de cores */
:root {
  --cinza-tesla: #5c5e62;
  --cinza-tesla-escuro: #3e4042;
  --cinza-claro-tesla: #7a7d81;

  --button-primary-bg-color: rgba(23, 26, 32, 0.8);
  --button-primary-color: rgb(255, 255, 255);

  --button-secondary-bg-color: rgba(255, 255, 255, 0.65);
  --button-secondary-color: rgba(23, 26, 32, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: calc(1em + 1vw);
}

button {
  font-size: inherit;
}
input {
  font-size: inherit;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;

  padding: 10px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

header > i {
  cursor: pointer;
}

header img {
  height: 12px;
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.25;
  appearance: none;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  color: var(--cinza-tesla);
  padding: 8px;
  font-size: 12px;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  margin-right: 16px;
}

section {
  height: 100vh;
  background-position: center;
  background-size: cover;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-attachment: fixed;
}

.scroll-snap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  width: 100vw;
  overflow-x: hidden;
}

.section-title {
  text-align: center;
  margin-top: 15vh;
}

.section-title h1 {
  color: var(--cinza-tesla-escuro);

  padding: 4px 0;
  font-weight: 400;
  font-size: 1.5em;
}

.section-title h2 {
  color: var(--cinza-claro-tesla);
  font-weight: 400;
  font-size: 0.8em;
}

.section-title h2 a {
  color: var(--cinza-tesla);
}

.section-title h2 a:hover {
  color: var(--cinza-tesla-escuro);
}

.section-buttons {
  margin-bottom: 10vh;
  display: flex;
}

.btn {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  padding: 8px;
  border-radius: 24px;
  width: 25vw;
  min-width: 150px;
  max-width: 250px;
  height: 40px;
  margin: 0 12px;
  display: grid;
  place-items: center;
  text-transform: uppercase;
}

.primary-btn {
  color: var(--button-primary-color);
  background-color: var(--button-primary-bg-color);
}

.secondary-btn {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-bg-color);
}

/* Backgrounds */
.model-y {
  background-image: url("../images/Desktop-ModelY.jpg");
}

.model-x {
  background-image: url("../images/Desktop-ModelX.jpg");
}

.model-3 {
  background-image: url("../images/Desktop-Model3.jpg");
}

.model-s {
  background-image: url("../images/Desktop-ModelS.jpg");
}

.solar-panel {
  background-image: url("../images/Desktop-SolarPanels.jpg");
}

.solar-roof {
  background-image: url("../images/Desktop-SolarRoof.jpg");
}

.accessories {
  background-image: url("../images/Desktop-Accessories.jpg");
  position: relative;
}

/* Responsividade */
@media only screen and (max-width: 1200px) {
  header ul {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .btn {
    width: 80vw;
    max-width: none;
    margin-bottom: 8px;
  }
  .section-buttons {
    flex-direction: column;
  }

  .section-title h1 {
    padding: 0 5vw;
    font-size: 1.5em;
  }

  .section-title h2 {
    padding: 0 5vw;
    font-size: 0.8em;
  }
  footer li:not(.only-smartphone) {
    display: none;
  }

  footer ul {
    flex-direction: column;
  }
}
